---
title: Under Construction
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<img src="/images/cw-logo.svg" width="200" height="200">

<h1>
  Under Construction
</h1>

Bet it's been a while since you've seen one of these hasn't it? <br />
I'll have my site back up soon, but for now you can visit me here:

<span class="social-links">
  <a href="https://blog.cwatsondev.com"><i class="fa fa-rss" aria-hidden="true"></i></a>
  <a href="https://twitter.com/_watzon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://facebook.com/thewatzon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://dribbble.com/watzon"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
</span>